.details-container {
  border-radius: 4px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 20px;
  background-color: #d6d6d6;
  border: 1px solid #ddd;
}

.details-header {
  text-align: center;
  margin-bottom: 20px;
}

.details-header h1 {
  color: #333;
}

.details-content {
  display: flex;
}

.item-image {
  flex: 1;
}

.btn-info {
  display: none;
}

.btn-bits {
  display: none;
}

.item-image img {
  box-shadow: 1px 0.3px 3px black;
  border-radius: 10px;
  margin-left: 0px;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.item-description {
  flex: 1;
}

/* item-description */
.container {
  margin-left: 20px;
  padding: 20px;
  color: black;
  text-align: start;
  margin-top: -35px;
  line-height: 15px;
}

.car-images {
  background-color: red;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0.5px 0.5px 3px rgb(137, 3, 3);
}


@media screen and (max-width: 500px) {
  .details-content {
    display: block;
  }

  .btn-info {
    display: inline;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    color: black;
    border-radius: 0px;
    z-index: 2;
    border-bottom: solid 2px rgb(171, 171, 171);


  }

  .btn-bits {
    z-index: 2;
    color: black;
    display: inline;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px;
    margin-left: 10px;
    background-color: transparent;
    border-bottom: solid 2px rgb(171, 171, 171);
  }

  .btn-bits:focus {
    border-bottom: solid 2px rgb(172, 0, 0);
  }

  .btn-info:focus {
    border-bottom: solid 2px rgb(172, 0, 0);
  }

  .btn-info:focus,
  .btn-info:active {
    outline: none;
  }

  .btn-bits:focus,
  .btn-bits:active {
    outline: none;
  }

  .car-info {
    margin-top: 15px;
  }

  .car-info-1 {
    margin-left: -20px;
    display: inline-block;
    padding: 2px;
    font-size: 11px;
  }

  .car-info-2 {
    float: right;
    padding: 2px;
    font-size: 11px;
    display: inline-block;
  }

}