:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.light-mode {
  --background-img: #333;

  --navbarColor: rgb(255, 255, 255);
  --text-navbar-color: #333;
  --navbar-underline-color: #5c0900;
  --text-hover-bg-color: black;

  --text-color: #333;
  --form-color: #fff;
  --placeHolder: #888;
  --inputLinesColor: #ddd;

  --btn-bg-color: #e74c3c;
  --btn-text-color: #fff;

  --theme-bg-color: #143e61;
}

.dark-mode {
  --background-img: #2c3e50;

  --navbarColor: #1f2d3b;
  --text-navbar-color: #ecf0f1;
  --navbar-underline-color: #e74c3c;
  --text-hover-bg-color: #e74c3c;
  ;

  --text-color: #ecf0f1;
  --form-color: #1c2a37;
  --placeHolder: #bdc3c7;
  --inputLinesColor: #26578b;

  --btn-bg-color: #e74c3c;
  --btn-text-color: #fff;

  --theme-bg-color: #e74c3c;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  /* background-image: url(https://wallpaperaccess.com/full/736179.jpg); */
  background-size: cover;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}