.filter_container {
    background-color: red;
    height: 250px;
    width: 100%;
    margin-top: 100px;

}

body {
    overflow: auto;
}

.options {
    background-color: rgb(72, 3, 141);
    width: 500px;
    margin: auto;
    height: 250px;
}