/* Reset default margin and padding */
nav,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the navbar */
nav {
  background-color: #e4e4e4;
  padding: 10px;
  text-align: center;
  position: fixed;
  /* Add position: fixed to fix the navbar at the top */
  width: 100%;
  /* Make the navbar span the full width */
  top: 0;
  /* Position the navbar at the top of the page */
  z-index: 1000;
  /* Ensure the navbar is above other elements */
}

/* Style the navbar links */
nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #630e88;
  text-decoration: none;
  padding: 10px 6px;
  transition: all 0.3s ease;
  line-height: 40px;
  /* Adjust the line height according to your design */
}

/* Additional styling for the content below the navbar */
body {
  margin-top: 60px;
}

.toggle-button {
  display: none;
  top: 1rem;
  right: 2rem;
  position: absolute;
  color: black;
  font-size: large;
  background-color: #e4e4e4;
}

@media (max-width:500px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-left: -10px;
    display: block;
  }

  .toggle-button {
    display: flex;
  }

  .toggle-button :hover {
    display: flex;

  }
}