nav,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 30px;
  position: absolute;
  left: 20px;
}

nav {
  background-color: rgb(240, 240, 240);
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
  transition: 0.5s;
}

.right {
  background-color: transparent;
  display: flex;
  right: 50px;
  position: absolute;
}

nav ul li a:hover {
  color: rgb(1, 3, 107);

}

nav ul li a {
  color: #252525;
  text-decoration: none;
  padding: 10px 6px;
  transition: all 0.3s ease;
  line-height: 40px;
}

body {
  margin-top: 60px;
}

.underLine {
  background-color: rgb(240, 240, 240);
  border-bottom: solid 2px  rgb(240, 240, 240);

}

ul li :hover+.underLine {
  animation: underLineEffect 1s;
  border-bottom: solid 2px black;

}

@keyframes underLineEffect {
  0% {
    width: 0px;
    border-bottom: solid 2px black;
  }

  100% {
    width: 100%;
    border-bottom: solid 2px black;

  }
}

.toggle-button {
  display: none;
  top: 1rem;
  right: 2rem;
  position: absolute;
  color: black;
  font-size: large;
  background-color: transparent;

}


@media (max-width:500px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-left: -10px;
    display: block;
  }

  .right {
    display: block;
  }

  .toggle-button {
    display: flex;
  }

  .toggle-button :hover {
    display: flex;

  }
}